body {
  display: flex;
  height: 100vh;
  justify-content: center;
  /* flex-flow: row wrap; 아래 두줄과 같은 의미*/
  flex-direction: row;
  flex-wrap: wrap;
  /* 다중 라인일때 align-content 사용 */
  /* align-content: center; */
  align-items: center;
}

.box {
  height: 200px;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child{
  background-color: tomato;
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 500px; */
  /* 위의 세줄이랑 같은 의미 min_width : 500px */
  flex: 1 0 500px;
  /* max_width */
  flex: 0 1 500px;
}

.box:last-child{
  background-color: teal;
  flex-grow: 1;
}

/* order, align-self, flex-grow(default:0), flex-shrink(default:1) 는 자식요소에게!! */