body {
  display: flex;
  height: 100vh;
  gap: 10px;
  justify-content: flex-start;
  /* flex-flow: row wrap; 아래 두줄과 같은 의미*/
  flex-direction: row;
  flex-wrap: wrap;
  /* 다중 라인일때 align-content 사용 */
  align-content: center;
  row-gap: 10px;
  column-gap: 20px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}