.father {
  display: grid;
  gap: 10px;
  height: 100vh;
  /* fill이 여백 살림 fit은 여백 채움*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  /* auto-fill, auto-fit 같아 보이지만 여백이 있을 때 차이 드러남 */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) */
}

.child {
  background-color: tomato;
  color: white;
  font-size: 28;
  display: flex;
  justify-content: center;
  align-items: center;
}
