.father {
  display: grid;
  grid-template-columns: [cucumber] 100px [potato] 200px [banana] 50px [brocoli];
  grid-template-rows: [korea] 200px [thailand] 100px [greece];
  gap: 10px;
  row-gap: 10px;
  column-gap: 20px;
}

.child {
  background: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

.child:last-child{
  background: turquoise;
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-column-end: -1; 마지막 줄까지*/
  /* grid-column: 2 / -1; */
  grid-column: potato / brocoli;
}

.child:first-child{
  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* grid-row: 1 / 3; */
  grid-row: korea / greece
}